<div class="knowledges">
    <app-cv-knowledge type="Front-end" [knowledges]="['HTML', '(S)CSS']"></app-cv-knowledge>
    <app-cv-knowledge type="Javascript frameworks" [knowledges]="['Angular', 'React', 'Vue']"></app-cv-knowledge>
    <app-cv-knowledge type="Back-end" [knowledges]="['JAVA', 'PHP', '.NET']"></app-cv-knowledge>
    <app-cv-knowledge type="CMS" [knowledges]="['WIX', 'Wordpress']"></app-cv-knowledge>
    <app-cv-knowledge type="Scripting" [knowledges]="['JS & TS', 'JQUERY', 'Python']"></app-cv-knowledge>
    <app-cv-knowledge type="Planning" [knowledges]="['jira', 'trezzllo']"></app-cv-knowledge>
    <app-cv-knowledge type="Data bases" [knowledges]="['MySQL', 'MongoDB']"></app-cv-knowledge>
    <app-cv-knowledge type="Project management" [knowledges]="['Scrum', 'Lean']"></app-cv-knowledge>
    <app-cv-knowledge type="Besturingssystemen" [knowledges]="['Windows', 'Linux']"></app-cv-knowledge>
    <app-cv-knowledge type="Data visualisatie" [knowledges]="['Qlik sense']"></app-cv-knowledge>
</div>