<div class="timelineLegend">
    <div>
        <input type="checkbox" name="type" value="work" id="work" (click)="onWorkChange()" checked><label [ngClass]="showWork ? 'checked' : 'notChecked'"for="work">Werk</label>
    </div>
    <div>
        <input type="checkbox" name="type" value="education" id="education" (click)="onEducationChange()"><label [ngClass]="showEducation ? 'checked' : 'notChecked'"for="education">Studie</label>
    </div>
    <div>
        <input type="checkbox" name="type" value="personal" id="personal" (click)="onPersonalChange()"><label [ngClass]="showPersonal ? 'checked' : 'notChecked'"for="personal">Persoonlijk</label>
    </div>
</div>
<div *ngIf="showArray.length > 0" class="timeline">
    <app-timeline-item *ngFor="let item of showData; let even = even" [even]="even" [shown]="showArray" [item]="item"></app-timeline-item>
</div>