<div class="footer">
    <div class="top">
        <div class="socials">
            <div class="social">
                <i class="fa-brands fa-github"></i><span>Github</span>
            </div>
            <div class="social">
                <i class="fa-brands fa-facebook"></i><span>Facebook</span>
            </div>
            <div class="social">
                <i class="fa-brands fa-instagram"></i><span>Instagram</span>
            </div>
            <div class="social">
                <i class="fa-brands fa-twitter"></i><span>Twitter</span>
            </div>
            <div class="social">
                <i class="fa-solid fa-envelope"></i><span>Mail</span>
            </div>
        </div>
        <div class="about-me">
            <app-cv-about-me></app-cv-about-me>
        </div>
    </div>
    <div class="bottom">
        Jonas Wouters &copy; 2023
    </div>
</div>