.footer{
    margin-top: 30px;
    background-color: #261853;
    border-left: 1px solid #183153;;
    color: aliceblue;
    .top{
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .socials{
            width: 200px;
            .social{
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                i{
                    width: 20px;
                }
                span{
                    padding-left: 10px;
                }
            }
        }
        .about-me{
            width: 360px;
        }
    }
    .bottom{
        padding: 10px;
        border-top: 1px solid #183153;
    }
    
}