.projectDetails {
    .projectDetailsTitle{
        font-weight: bold;
        font-size: 42px;
    }
    .projectDetailsTime{
        font-weight: bold;
    }
    .projectDetailsDescription{
        margin-top: 15px;
    }
}