<div class="contactInfo">
    <ul class="contactInfoList">
        <app-contact-info-list-item label="Verjaardag:" info="8 January 2001"></app-contact-info-list-item>
        <app-contact-info-list-item label="Website:" info="jonaswouters.be"></app-contact-info-list-item>
        <app-contact-info-list-item label="GSM:" info="0493/64.62.22"></app-contact-info-list-item>
        <app-contact-info-list-item label="Leeftijd:" info="{{age}}"></app-contact-info-list-item>
    </ul>
    <ul class="contactInfoList">
        <app-contact-info-list-item label="Diploma:" info="Application development"></app-contact-info-list-item>
        <app-contact-info-list-item label="Email:" info="jonas1wouters@hotmail.com"></app-contact-info-list-item>
        <app-contact-info-list-item label="Freelance:" info="Beschikbaar"></app-contact-info-list-item>
        <app-contact-info-list-item label="Rijbewijs:" info="B"></app-contact-info-list-item>
    </ul>
</div>