<div class="aboutMe">
    <img src="../../../assets/profileNoBG.png" alt="Profile" class="profilePic">
    <div class="profileText">
        <h3>Who am I?</h3>
        <p>Hello, my name is Jonas Wouters and I'm a full stack webdeveloper from Vosselaar, Belgium.</p>
        <p>In the summer of 2023 I will receive my diploma in application development from Thomas More in Geel.</p>
        <p>During my spare time I'm engaged in creative tinkering with both webdevelopment and handicrafts. In addition, I play football for "KFC De Vrede Wechelderzande" and golf at "De Krikskens" in Beerse.</p>
    </div>
</div>