<div class="familyMembers">
    <div class="familyMember">
        <img src="../../../assets/brother.jpg" alt="Brother">
        <div class="text">
            <div class="who">Brother</div>
            <div class="name">Glen</div>
            <p>Mijn oudere broer en tevens ook voetballer bij FC Bolk</p>        
        </div>
    </div>
    <div class="familyMember">
        <img src="../../../assets/mother.jpg" alt="Mother">
        <div class="text">
            <div class="who">Mother</div>
            <div class="name">Ilse</div>
            <p>Mijn oudere broer en tevens ook voetballer bij FC Bolk</p>        
        </div>       
    </div>
    <div class="familyMember">
        <img src="../../../assets/father.jpg" alt="Father">
        <div class="text">
            <div class="who">Father</div>
            <div class="name">Robby</div>
            <p>Mijn oudere broer en tevens ook voetballer bij FC Bolk</p>        
        </div>
    </div>
</div>