<div class="experiences">
    <div class="experience">
        <div class="experienceTitle">Katz NV <span>(Zoersel)</span></div>
        <div class="experienceTime">2020 - 2022</div>
        <ul>
            <li><span class="label">Webdesign:</span><span>Het <b>ontwerpen</b> van webpagina's in <b>Adobe XD</b></span></li>
            <li><span class="label">Webdevelopment:</span><span>Het <b>ontwikkelen</b> van deze webpagina's in <b>Angular</b></span></li>
        </ul>
    </div>
    <div class="experience">
        <div class="experienceTitle">Bruno Van Loon <span>(Turnhout)</span></div>
        <div class="experienceTime">Zomer van 2022</div>
        <ul>
            <li><span class="label">Database:</span><span><b>Database onderhoud</b> en <b>data cleaning</b></span></li>
            <li><span class="label">Progress:</span><span>Het schrijven en onderhouden van een <b>Progress</b> applicatie</span></li>
        </ul>
    </div>
</div>