<div class="contactForm">
    <form action="https://formsubmit.co/jonas1wouters@hotmail.com" method="POST">
        <div class="inputs">
            <div class="inputDiv">
                <span>Your email:</span>
                <input type="email" name="email" required placeholder="email@amil.com">
            </div>
            <div class="inputDiv">
                <span>Subject:</span>
                <input type="text" name="_subject" value="Submit form: ">
            </div>
            <div class="inputDiv">
                <span>Message:</span>
                <input type="text" name="name" required placeholder="message">
            </div>
        </div>
        <input type="hidden" name="_autoresponse" value="Dank u voor het bericht, ik antwoord zo snel mogelijk">
        <div class="buttons">
            <button type="submit">Stuur</button>
            <button type="reset">Reset</button>
        </div>
    </form>
</div>