<div class="cvInfo">
    <div class="info"><i class="fa-solid fa-car"></i>Rijbewijs B</div>
    <div class="info"><i class="fa-solid fa-inbox"></i>jonas1wouters@hotmail.com</div>
    <div class="info"><i class="fa-solid fa-phone"></i>0493/64.62.22</div>
    <div class="info"><i class="fa-solid fa-map-pin"></i>Stoktsebaan 113, Vosselaar</div>
    <div class="info"><i class="fa-solid fa-globe"></i>jonaswouters.be</div>
    <div class="info">Socials: jonas1wouters</div>
    <div class="socials">
        <a target="_blank" href="https://www.linkedin.com/in/jonas1wouters/"><i class="fa-brands fa-linkedin"></i></a>
        <a target="_blank" href="https://github.com/jonas1wouters"><i class="fa-brands fa-square-github"></i></a>
        <a target="_blank" href="https://www.facebook.com/jonas1wouters"><i class="fa-brands fa-square-facebook"></i></a>
        <a target="_blank" href="https://www.instagram.com/jonas1wouters/"><i class="fa-brands fa-square-instagram"></i></a>
        <a target="_blank" href="https://twitter.com/jonas1wouters"><i class="fa-brands fa-square-twitter"></i></a>
    </div>
</div>