<div class="studies">
    <div class="studie">
        <div class="studieTitle">Sint Victor <span>(Turnhout)</span></div>
        <div class="studieTime">2012 - 2019</div>
        <ul>
            <li><span class="label">Jaar 1 - 4:</span><span>Wetenschappen</span></li>
            <li><span class="label">Jaar 5 - 6:</span><span>Informaticabeheer</span></li>
        </ul>
    </div>
    <div class="studie">
        <div class="studieTitle">Thomas More <span>(Geel)</span></div>
        <div class="studieTime">2019 - 2023</div>
        <ul>
            <li><span class="label">Jaar 1:</span><span>Toegepaste informatica</span></li>
            <li><span class="label">Jaar 2:</span><span>Application development/AI</span></li>
            <li><span class="label">Jaar 3:</span><span>Application development</span></li>
        </ul>
    </div>
</div>